.backdrop {
    background-color: $backdrop;
    position: fixed;
    height: 0;
    width: 0;
    top: 0;
    left: 0;
    z-index: 2;

    &.loading {
        height: 100vh;
        width: 100vw;
    }
}
