// ==============================================
// BUTTONS
// ==============================================

.button {
    @extend %bold;
    @include border-radius(20px);
    @include box-shadow(5px 5px 16px rgba(0, 0, 0, 0.31));
    @include effect(all, .3s, ease-in-out);
    font-size: 21px;
    padding: 10px 20px;
    background-color: $grayTheme;
    border: 2px solid $gray3;
    color: $gray3;
    cursor: pointer;

    &.red {
        background-color: $redWine;
        border: none;
        color: $white;
    }

    &.yellow {
        background-color: $yellowTheme2;
        border: none;
        color: $blueTheme3;
    }

    &.small {
        font-size: 16px;
    }
}

@include nomobile {

    .button {

        &:hover {
            background-color: $gray3;
            border: $grayTheme;
            color: $grayTheme;

            &.red {
                background-color: $grayTheme;
                border: none;
                color: $redWine;
            }
        }
    }
}
