// ==============================================
// CAROUSEL
// ==============================================

.products {

    .VueCarousel {
        width: 950px;
        margin: 0 auto;


        .VueCarousel-navigation-button {
            @include effect(all, .3s, ease-in-out);
            width: 76px;
            height: 125px;
            background-repeat: no-repeat;

            &.VueCarousel-navigation-prev {
                background-image: url('/img/arrow-prev.png');
                left: -12px;
            }

            &.VueCarousel-navigation-next {
                background-image: url('/img/arrow-next.png');
                right: -21px;
            }
        }


    }
}

@include littleDesktop {

    .products {

        .VueCarousel {
            width: 60vw;

            .VueCarousel-navigation-button {
                width: 35px;
                height: 57px;
                background-size: cover;

                &.VueCarousel-navigation-next {
                    right: 3px;
                }
            }
        }
    }
}

@include ipadPortrait {
    .products {

        .VueCarousel {
            width: 76vw;

            .VueCarousel-navigation-button {

                &.VueCarousel-navigation-next {
                    right: -8px;
                }
            }
        }
    }
}

@include mobile {

    .products {

        .VueCarousel {
            width: 224px;

            .VueCarousel-navigation-button {
                width: 24px;
                height: 40px;
                background-size: cover;

                &.VueCarousel-navigation-prev {
                    left: -40px;
                }

                &.VueCarousel-navigation-next {
                    right: -40px;
                }
            }
        }
    }

    .social {

        .VueCarousel {
            width: 90%;
            margin: 40px auto 20px;

            .VueCarousel-navigation-button {
                @include effect(all, .3s, ease-in-out);
                width: 18px;
                height: 30px;
                background-size: cover;
                background-repeat: no-repeat;
                top: 40%;

                &.VueCarousel-navigation-prev {
                    background-image: url('/img/arrow-prev.png');
                    left: -4px;
                }

                &.VueCarousel-navigation-next {
                    background-image: url('/img/arrow-next.png');
                    right: -4px;
                }
            }
        }

    }
}

@include mobileTiny {

    .products {

        .VueCarousel {

            .VueCarousel-navigation-button {

                &.VueCarousel-navigation-prev {
                    left: -78px;
                }
            }
        }
    }

    .social {

        .VueCarousel {
            width: 85%;
        }
    }
}

@include nomobile {

    .products {

        .VueCarousel {

            .VueCarousel-navigation-next {

                &:hover {
                    right: -31px;
                }
            }

            .VueCarousel-navigation-prev {

                &:hover {
                    left: -22px;
                }
            }

        }
    }
}
