// ==============================================
// FORM
// ==============================================

form {
    @include flex-container(flex-start, flex-start, flex-start, nowrap, column);
    background: linear-gradient(90deg, $blueTheme3 50%, $blueTheme4 100%);
    margin-top: 14px;
    padding: 28px 9px 73px 27px;
    width: 504px;
    z-index: 1;
    position: relative;

    &.loading {
        opacity: .5;
    }

    .form-group {
        @include flex-container;
        width: 100%;
        margin-bottom: 12px;

        .img-container {
            @include flex-container(center, center, center);
            width: 20%;
            margin-top: 8px;
        }

        &:last-of-type {

            .img-container {
                margin-bottom: 112px;
            }
        }

		&.last-name {
			opacity: 0;
			height: 0;
			width: 0;
			padding: 0;
			margin: 0;
		}		
    }

    input, textarea {
        @extend %montserrat-regular;
        font-size: 25px;
        line-height: 1.2;
        margin: 10px;
        width: 73%;
        color: $yellowTheme2;

        &::placeholder {
            color: $yellowTheme2;
        }

        &:focus-visible {
            outline: none;
        }
    }

    input {
        border-bottom: 2px solid $underlineColor;
        background-color: transparent;
        height: 40px;
        padding: 23px 0;
    }

    textarea {
        height: 198px;
        background-image: url('/img/form-comments-bg.jpg');
        padding: 2px 6px
    }

    &.checkout-form {
        @include box-shadow(5px 5px 16px rgba(0, 0, 0, 0.31));
        @include border-radius(10px);
        background: none;
        background-color: $white;
        margin-top: 0;

        input, textarea {
            color: $black;
            font-size: 18px;

            &::placeholder {
                color: $gray2;
            }
        }

        textarea {
            background: none;
            border: 1px solid $gray2;
        }
    }
}
