// ==============================================
// POST
// ==============================================

.post {
    @include border-radius(30px);
    width: 321px;
    height: 321px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 67px;
    display: block;

    &__icon {
        position: absolute;
        bottom: 12px;
        right: 16px;

        svg {
            fill: $gray2;
            width: 51px;
            height: auto;
        }
    }
}

@include littleDesktop {

    .post {
        width: 28vw;
        height: 28vw;
    }
}

@include mobile {

    .post {
        @include border-radius(10px);
        width: 100px;
        height: 100px;
        margin-bottom: 20px;

        &__icon {
            bottom: 7px;
            right: 6px;
        }

        svg {
            width: 16px;
        }
    }
}

@include mobileTiny {

    .post {
        width: 85px;
        height: 85px;
    }
}

@include nomobile {

    .post {
        @include effect(all, .3s, ease-in-out);

        &:hover {
            @include scale(1.1);
        }
    }
}
