// ==============================================
// PRODUCT
// ==============================================

.product {
    @include border-radius(25px);
    @include box-shadow(5px 5px 16px rgba(0, 0, 0, 0.31));
    position: relative;
    background-color: $darkGray;
    width: 284px;
    height: 372px;
    cursor: pointer;

    &__top {
        @include border-radius(25px 25px 0 0);
        background: $purple;
        background: linear-gradient(90deg, $purple 50%, $purple2 100%);
        height: 116px;

        &.blue {
            background: $blue;
            background: linear-gradient(90deg, $blue 50%, $blue2 100%);
        }

        &.orange {
            background: $orange;
            background: linear-gradient(90deg, $orange 50%, $orange2 100%);
        }

    }

    &__image {
        @include border-radius(50%);
        position: absolute;
        top: 39px;
        left: 21%;
        width: 164px;
        height: 164px;
        background-color: $white;

        img {
            margin-top: 12px;
            height: 142px;
        }
    }

    &__bottom {
        margin-top: 90px;
    }

    &__title {
        margin-bottom: 5px;

        h3 {
            @extend %raleway-bold;
            font-size: 29px;
            line-height: 1.2;
            text-align: center;
            color: $purple;
        }
    }

    &__description {
        margin-bottom: 7px;
    }

    &__button {
        margin-top: 30px;
        opacity: 0;
    }

    p {
        @extend %raleway-regular;
        text-transform: none;
        color: $white;
        font-size: 17px;
        line-height: 1.2;
    }
}

@include littleDesktop {

    .product {
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }
    }
}

@include mobile {

    .product {
        @include border-radius(10px);
        width: 224px;
        height: 308px;

        &__top {
            height: 75px;
            @include border-radius(10px 10px 0 0);
        }

        &__image {
            top: 12px;
            height: 120px;
            width: 120px;
            left: 25%;

            img {
                height: 90px;
            }
        }

        &__title {

            h3 {
                font-size: 20px;
            }
        }

        p {
            font-size: 16px;
        }

        &__bottom {
            margin-top: 70px;
        }

        .product__button {
            margin-top: 40px;
            opacity: 1;
        }
    }
}

@include nomobile {

    .product {

        &:hover {

            .product__button {
                @include effect(all, .3s, ease-in-out);
                opacity: 1;
            }
        }
    }
}
