// ==============================================
// SHOPPING CART
// ==============================================
.shopping-cart-icon {
    position: relative;

    svg {
        position: absolute;
        top: 0;
        left: -40px;
        width: 32px;
        height: 32px;
    }

    span {
        @extend %bold;
        position: absolute;
        color: black;
        top: 5px;
        left: -33px;
        font-size: 13px;
        width: 15px;
        text-align: center;
    }
}

.shopping-cart {
    @include box-shadow(5px 5px 16px rgba(0, 0, 0, 0.31));
    @include effect(all, .3s, ease);
    @include border-radius(0 0 5px 5px);
    position: fixed;
    right: 20%;
    top: -420px;
    background-color: $white;
    padding: 30px 20px;

    &.show {
        top: 223px;

        &.collapsed {
            top: 44px;
        }
    }

    &__close {
        position: absolute;
        top: 12px;
        right: 12px;
        cursor: pointer;

        svg {
            width: 12px;
            height: 12px;
        }
    }

    &__title {
        margin-bottom: 20px;

        h2 {
            @extend %raleway-bold;
            font-size: 20px;
            color: $redWine;
        }
    }

    &__table {
        background-color: $white;
    }

    &__item {

        th, td {
            text-align: left;
            font-size: 14px;
            padding: 8px;
        }

        td, th {
            @extend %regular;

            &.image {
                width: 60px;
                height: auto;
            }

            &.quantity {
                text-align: center;

                span {
                    margin: 0 4px;
                }

                svg {
                    margin-top: -6px;
                    width: 20px;
                    height: auto;
                    cursor: pointer;
                    fill: $redWine;
                }
            }

            &.amount {
                text-align: right;
            }

            &.trash {

                svg {
                    margin-top: -4px;
                    width: 20px;
                    height: auto;
                    cursor: pointer;
                }
            }
        }

        th {
            @extend %bold;
        }
    }

    &__bottom {
        @include flex-container(space-between, center, center);
        border-top: 1px solid $grayTheme;
        margin-top: 10px;
        padding-top: 20px;

        p {
            @extend %bold;
            font-size: 16px;
            text-align: right;
            padding-right: 4px;
        }
    }

}

@include mobile {

    .mobile-cart {
        position: absolute;
        top: 8px;
        right: 60px;

        .shopping-cart-icon {

            svg {
                width: 40px;
                height: 40px;
            }

            span {
                font-size: 15px;
                left: -31px;
                top: 8px;
            }

        }
    }

    .shopping-cart {
        right: 2%;
        width: 96%;

        &.show {
            top: 61px;
        }

        &__item {

            td {

                &.quantity {

                    svg {
                        margin-top: -2px;
                        width: 16px;
                    }
                }
            }

        }
    }
}

@include nomobile {

    .shopping-cart {
        @include effect(all, .3s, ease-in);

        svg {

            &:hover {
                fill: $redWine;
            }
        }
        span {

            &:hover {
                color: $redWine;
            }
        }

        &__item {

            td {

                &.quantity {

                    svg {

                        &:hover {
                            fill: $grayTheme;
                        }
                    }
                }
            }

        }
    }
}
