// ==============================================
// SLIDER
// ==============================================

.slider {
    min-height: 802px;
    background-color: $blackTheme;

    .VueCarousel {
        padding-bottom: 180px;

        .VueCarousel-slide {

            .slide-image {
                height: 41.771vw;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }

            .slide-description {
                @extend %raleway-bold;
                text-shadow: 2px 2px $gray3;
                color: $white;
                padding: 20% 0 0 36%;

                h2 {
                    font-size: 101px;
                    line-height: 1;
                }

                p {
                    font-size: 76px;
                    line-height: 1;
                }

                &.top-right-left {
                    position: absolute;
                    top: -44%;
                    left: -32%;
                }

                &.center-top {
                    padding: 5% 0 0 0;
                }

                &.small {

                    h2 {
                        font-size: 60px;
                    }

                    p {
                        font-size: 50px;
                    }
                }

                &.gray {
                    color: $gray3;
                    text-shadow: 2px 2px $white;
                }
            }

        }

        .VueCarousel-pagination {
            position: relative;
            margin-top: -180px;

            .VueCarousel-dot-container {
                position: absolute;
                right: 20%;
                padding-top: 3.5%;
            }

        }

        .VueCarousel-dot {
            @include box-shadow(10px 10px 5px 0px rgba(0,0,0,0.1));
            background-color: #F9D662 !important;
            padding: 6px !important;
            width: 37px !important;
            height: 37px !important;
        }

        .VueCarousel-dot--active {
            background-color: $white !important;
        }
    }
}

@include bigDesktop {

    .slider {
        min-height: 570px;

        .VueCarousel {

            .VueCarousel-slide {

                .slide-description {
                    padding-left: 42%;
                }
            }

            .VueCarousel-pagination {

                .VueCarousel-dot-container {
                    right: 15%;
                }
            }
        }
    }
}

@include desktop {

    .slider {
        min-height: 530px;

        .VueCarousel {

            .VueCarousel-slide {

                .slide-description {
                    padding-left: 45%;

                    h2 {
                        font-size: 85px;
                    }

                    p {
                        font-size: 65px;
                    }
                }
            }

            .VueCarousel-pagination {

                .VueCarousel-dot-container {
                    right: 10%;
                    padding-top: 6%;
                }
            }
        }
    }
}

@include littleDesktop {

    .slider {
        min-height: 320px;

        .VueCarousel {

            .VueCarousel-slide {

                .slide-description {
                    padding-top: 17%;

                    h2 {
                        font-size: 50px;
                    }

                    p {
                        font-size: 40px;
                    }
                }
            }

            .VueCarousel-dot {
                padding: 4px !important;
                width: 20px !important;
                height: 20px !important;
            }

            .VueCarousel-pagination {

                .VueCarousel-dot-container {
                    right: 12%;
                    padding-top: 9%;
                }
            }
        }
    }
}

@include mobile {

    .slider {
        min-height: 588px;
        margin-top: 60px;
        margin-bottom: 14px;

        .VueCarousel {
            padding-bottom: 0;

            .VueCarousel-wrapper {

                .VueCarousel-slide {

                    .slide-image {
                        height: 157vw;
                        background-position: center;
                    }

                    .slide-description {
                        padding-left: 37%;
                        padding-top: 48%;

                        h2 {
                            font-size: 32px;
                        }

                        p {
                            font-size: 24px;
                        }

                        &.top-right-left {
                            top: -19%;
                            left: 0;
                            right: -16%;
                        }

                        &.center-top {
                            padding: 55% 0 0 0;
                        }

                        &.small {

                            h2 {
                                font-size: 26px;
                            }

                            p {
                                font-size: 20px;
                            }
                        }
                    }

                }
            }

            .VueCarousel-pagination {
                display: none;
            }
        }
    }
}

@include mobileTiny {

    .slider {
        min-height: 502px;

        .VueCarousel {

            .VueCarousel-wrapper {

                .VueCarousel-slide {

                    .slide-description {

                        h2 {
                            font-size: 27px;
                        }

                        p {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
}
