// ==============================================
// SOCIAL
// ==============================================

.header__social {
    margin: 0 25px 60px;

    ul {
        @include flex-container(flex-end);

        li {
            margin-left: 31px;

            svg {
                @include effect(all, .3s, ease-in-out);
                width: 40px;
                height: auto;
            }
        }
    }
}

.footer__social {
    @include flex-container;

    li {
        margin-right: 36px;

        &:last-child {
            margin-right: 0;
        }

        svg {
            width: 40px;
            height: auto;
            fill: $white;
        }

    }
}

@include littleDesktop {

    .header__social {
        margin-bottom: 20px;
        margin-right: 20px;

        ul {

            li {
                margin-left: 10px;

                svg {
                    width: 20px;
                }
            }
        }
    }

    .footer__social {
        margin-top: 65px;

        li {
            margin-right: 5px;

            svg {
                width: 20px;
            }
        }
    }
}

@include mobile {

    .header__social {
        @include flex-container(flex-start, flex-start, flex-start, wrap);
        margin: 0 auto;

        ul {
            @include flex-container(space-between);
            width: 267px;

            li {
                margin-left: 0;

                svg {
                    width: 40px;
                }
            }
        }
    }

    .footer__social {
        margin-top: 12px !important;
        margin-right: 36px;

        li {
            width: 35%;
            margin-bottom: 10px;

            svg {
                width: 25px;
                height: auto;
            }
        }
    }
}

@include nomobile {

    .header__social {

        ul {

            li {

                &:hover, &:focus {

                    svg {
                        fill: $blueTheme;
                    }
                }
            }
        }
    }

    .footer__social {

        li {

            a {

                &:hover {

                    span {

                        svg {
                            fill: $blueTheme;
                        }
                    }
                }
            }
        }
    }
}
