// sass-lint:disable no-vendor-prefixes
// ==============================================
// ANIMATIONS
// ==============================================

@mixin keyframe($animation_name) {

	@-moz-keyframes #{$animation-name} {
		@content;
	}

	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@-o-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation($delay, $duration, $animation, $iteration-count: 1, $fillmode: forwards) {
	animation-delay: $delay;
	animation-duration: $duration;
	animation-name: $animation;
	animation-fill-mode: $fillmode;
	animation-iteration-count: $iteration-count;
}
