// ==============================================
// COLORS
// ==============================================

// FIRST WE DEFINE DESCRIPTIVE COLORS
// Color names provided by http://chir.ag/projects/name-that-color/
// The method to create the name is: "Closest standard color" name + "Name that color" name (brown + dark ebony)

// Example colors
$greySilver: #ccc;
$blackTundora: #444;
$hibiscus: #bd286d;
$tundora: #444242;
$danube: #528CC7;
$dustyGray: #999999;
$selectiveYellow: #ffb900;
$violetEggplant: #b620b4;
$cyan: #03f8ff;
$tuatara: #282827;
$azure: #3b5aac;
$astronaut: #303a78;
$goldenFizz: #e7ff43;
$malibu: #6F94FF;
$malibu2: #74B4FE;
$doveGray: #707070;
$scorpion: #575757;
$purpleHeart: #7537bc;
$iron: #D6D9DC;
$brightTurquoise: #00c2ff;
$cyan: #00ffff;
$amber: #ffc200;
$internationalOrange: #ff5501;



// Basic colors
$white: #fff;
$black: #000;

// NOW WE DEFINE FUNCTIONS

// General functions
$mainColor: $black;
$blackLight: $blackTundora;
$underlineColor: $greySilver;

$redWine: $hibiscus;
$darkGray: $tundora;
$blueTheme: $danube;
$blackTheme: $tuatara;
$blueTheme2: $cyan;
$blueTheme3: $azure;
$blueTheme4: $astronaut;
$blueLight: $malibu;
$blueLight2: $malibu2;
$blue: $cyan;
$blue2: $brightTurquoise;
$grayTheme: $iron;
$gray: $dustyGray;
$gray2: $doveGray;
$gray3: $scorpion;
$yellowTheme: $selectiveYellow;
$yellowTheme2: $goldenFizz;
$purple: $violetEggplant;
$purple2: $purpleHeart;
$backdrop: rgba(0, 0, 0,.2);
$orange: $amber;
$orange2: $internationalOrange;

