// sass-lint:disable no-duplicate-properties
// ==============================================
// FONTS
// ==============================================

// Mixin for fonts
@mixin typo($t, $name) {
	@font-face {
		font-family: $name;
		src: url('/fonts/#{$t}.eot');
		src: url('/fonts/#{$t}.eot?#iefix') format('embedded-opentype'),
		url('/fonts/#{$t}.woff') format('woff'),
		url('/fonts/#{$t}.ttf') format('truetype'),
		url('/fonts/#{$t}.svg##{$name}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

@include typo('CenturyGothic', 'CenturyGothic');
@include typo('CenturyGothic-Bold', 'CenturyGothic-Bold');
@include typo('Raleway-Regular', 'Raleway-Regular');
@include typo('Raleway-Bold', 'Raleway-Bold');
@include typo('SegoeUI', 'SegoeUI');
@include typo('Montserrat-Regular', 'Montserrat-Regular');

%regular {
	font-family: 'CenturyGothic', sans-serif;
	font-weight: 400;
}

%bold {
	font-family: 'CenturyGothic-Bold', sans-serif;
	font-weight: 700;
}
%raleway-regular {
	font-family: 'Raleway-Regular', sans-serif;
	font-weight: 400;
}

%raleway-bold {
	font-family: 'Raleway-Bold', sans-serif;
	font-weight: 700;
}

%segoe-ui {
	font-family: 'SegoeUI', sans-serif;
	font-weight: 700;
}

%montserrat-regular {
	font-family: 'Montserrat-Regular', sans-serif;
	font-weight: 400;
}

%montserrat-bold {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
}
// List of fonts
/*
%regular {
	font-family: 'Montserrat-Regular', sans-serif;
	font-weight: 400;
}

%bold {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

%semibold {
	font-family: 'Montserrat-SemiBold', sans-serif;
}

%roboto {
	font-family: 'Roboto-Regular', sans-serif;
	font-weight: 400;
}

*/
