// sass-lint:disable no-vendor-prefixes,no-duplicate-properties,no-transition-all,no-misspelled-properties
// ==============================================
// MIXINS
// ==============================================

// TRANSITION
@mixin noSelectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// TRANSITION
@mixin transition($transition...) {
	-webkit-transition: $transition;
	transition: $transition;
}

// BOX SHADOW
@mixin box-shadow($val) {
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

// TEXT SHADOW
@mixin text-shadow($val) {
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

// BORDER RADIUS
@mixin border-radius($val) {
	-webkit-border-radius: $val;
	-moz-border-radius: $val;
	border-radius: $val;
}

// PLACEHOLDER
@mixin placeholder($color) {

	&::-webkit-input-placeholder {
		color: $color;
	}

	&:-moz-placeholder {
		color: $color;
	}

	&::-moz-placeholder {
		color: $color;
	}

	&:-ms-input-placeholder {
		color: $color;
	}

}

// TRANSLATES
@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

@mixin translateX($x) {
	@include transform(translate3d($x, 0, 0));
}

@mixin translateY($y) {
	@include transform(translate3d(0, $y, 0));
}

@mixin translateZ($z) {
	@include transform(translate3d(0, 0, $z));
}

@mixin translate3d($x, $y, $z) {
	@include transform(translate3d($x, $y, $z));
}

// Common center positioning translates
@mixin Y-50 {
	@include translateY(-50%);
}

@mixin X-50 {
	@include translateX(-50%);
}

@mixin X-Y-50 {
	@include translate(-50%, -50%);
}

// TRANSFORMS
@mixin transform($transforms) {
	-webkit-transform: $transforms;
	transform: $transforms;
}

// TRANSFORM ORIGIN
@mixin transform-origin($transform-origin) {
	-webkit-transform-origin: $transform-origin;
	transform-origin: $transform-origin;
}

// ROTATE
@mixin rotate($deg) {
	@include transform(rotate(#{$deg}deg));
}

// SCALE
@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin scale2d($scalex, $scaley) {
	@include transform(scale($scalex, $scaley));
}

@mixin scaleX($scaleX) {
	@include transform(scaleX($scaleX));
}

// AMBILIGHT
@mixin light($color) {
	-webkit-filter: brightness(1.2) drop-shadow(0 0 10px $color);
	filter: brightness(1.2) drop-shadow(0 0 10px $color);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=7, Color="$color")';
	filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=7, Color="$color")';
}

@mixin titleLight($color) {
	-webkit-filter: drop-shadow(0 0 10px $color);
	filter: drop-shadow(0 0 10px $color);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=4, Color="$color")';
	filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=4, Color="$color")';
}

@mixin iconLight($color) {
	-webkit-filter: drop-shadow(0 0 4px $color);
	filter: drop-shadow(0 0 4px $color);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=4, Color="$color")';
	filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=4, Color="$color")';
}

@mixin anim($s) {
	-webkit-transition: all $s ease;
	-moz-transition: all $s ease;
	-ms-transition: all $s ease;
	-o-transition: all $s ease;
}

@mixin customAnim($v) {
	-webkit-animation: $v;
	-moz-animation: $v;
	animation: $v;
}

@mixin anim-linear {
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

// BLUR
@mixin blur($val) {
	-webkit-filter: blur(#{$val}px);
	filter: blur(#{$val}px);
	-ms-filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$val}');
	filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='#{$val}');
}

// BACKFACE
@mixin backface {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

// USER SELECT
@mixin userSelect {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin effect($object, $time, $effect) {
	@if $effect == '' {
		$effect: linear;
	}
	transition: $object $time $effect;
}

// BOX SIZING
@mixin box-sizing($boxSizing) {
	-webkit-box-sizing: $boxSizing;
	-moz-box-sizing: $boxSizing;
	box-sizing: $boxSizing;
}

// NO APPEARANCE
@mixin noAppearance {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

// FLEX
@mixin flex-container($justify-content: flex-start, $align-items: flex-start, $align-content: flex-start, $flex-wrap: wrap, $flex-direction: row) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-justify-content: $justify-content;
	-ms-justify-content: $justify-content;
	justify-content: $justify-content;
	-webkit-align-items: $align-items;
	-ms-align-items: $align-items;
	align-items: $align-items;
	-webkit-align-content: $align-content;
	-ms-align-content: $align-content;
	align-content: $align-content;
	-webkit-flex-wrap: $flex-wrap;
	-ms-flex-wrap: $flex-wrap;
	flex-wrap: $flex-wrap;
	-webkit-flex-direction: $flex-direction;
	-ms-flex-direction: $flex-direction;
	flex-direction: $flex-direction;
}

@mixin flex-direction($flex-direction: row) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: -moz-box;
	display: flex;
	-webkit-flex-direction: $flex-direction;
	-ms-flex-direction: $flex-direction;
	flex-direction: $flex-direction;
}

@mixin flex-item($flex: 1) {
	-webkit-flex: $flex;
	-ms-flex: $flex;
	flex: $flex;
}

@mixin drop-shadow($color) {
	-webkit-filter: drop-shadow(0 0 10px $color);
	filter: drop-shadow(0 0 10px $color);
	-ms-filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color="$color")';
	filter: 'progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color="$color")';
}

// BACKGROUND GRADIENT COLOR
@mixin bbg($d, $color1, $color2, $p1: 0%, $p2: 100%) {
	background-image: -moz-linear-gradient($d, $color1 $p1, $color2 $p2); // FF3.6+
	background-image: -webkit-linear-gradient($d, $color1 $p1, $color2 $p2); // Chrome10+,Safari5.1+
	background-image: -o-linear-gradient($d, $color1 $p1, $color2 $p2); // Opera 11.10+
	background-image: -ms-linear-gradient($d, $color1 $p1, $color2 $p2); // IE10+
	background-image: linear-gradient(to $d, $color1 $p1, $color2 $p2); // W3C
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$color1}, endColorstr=#{$color2}, GradientType=0); // IE6-9
}

// HARDWARE ACCELERATE
@mixin hardware-accelerate {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

// =========================================================================
//
//  PRECISE CONTROL OVER RESPONSIVE TYPOGRAPHY FOR SASS
//  ---------------------------------------------------
//  Indrek Paas @indrekpaas
//
//  Inspired by Mike Riethmuller's Precise control over responsive typography
//  http://madebymike.com.au/writing/precise-control-responsive-typography/
//
//  `strip-unit()` function by Hugo Giraudel
//
//  11.08.2016 Remove redundant `&` self-reference
//  31.03.2016 Remove redundant parenthesis from output
//  02.10.2015 Add support for multiple properties
//  24.04.2015 Initial release
//
// =========================================================================

@function strip-unit($value) {
	@return $value / ($value * 0 + 1);
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
	@each $property in $properties {
		#{$property}: $min-value;
	}

	@media screen and (min-width: $min-vw) {
		@each $property in $properties {
			#{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
		}
	}

	@media screen and (min-width: $max-vw) {
		@each $property in $properties {
			#{$property}: $max-value;
		}
	}
}
