* {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.container {
    max-width: 750px;
    margin: 0 auto;
    font-family: Roboto, arial;
}

.wrapper {
    padding: 0 60px;
}

.logo {
    width: 27%;
}

.logo img {
    margin: 0 auto;
    width: 100%;
}

.enterprise {
    margin-top: 26px;
}

h2 {
    color: #528CC7;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 6px;
}

.middle {
    margin-top: -10px;
	margin-bottom: 45px;
}

h3 {
    font-size: 13px;
    margin-bottom: 8px;
}

h4 {
    color: #a09b9b;
    font-size: 12px;
    margin-bottom: 8px;
}

h5 {
    color: #528CC7  ;
    font-size: 29px;
    font-weight: 700;
}

h6 {
    font-size: 20px
}

p {
    color: #444242;
    font-size: 11px;
    line-height: 1.3;
    margin-bottom: 6px;
}

b {
    font-weight: 700;
    font-size: 12px
}

.pink {
    font-weight: 700;
    color: #DE106E;
}

.top {
    border-top: 8px solid #528CC7;
}

.info {
    margin-top: 28px;
}

.col {
    width: 30%;
}

.paddingLeft {
    padding-left: 10%;
}

.top, .info {
    display: flex;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-align-items: space-between;
    align-items: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}

.bill .top, .bill .title {
    visibility: hidden;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    padding: 10px;
    background-color: #F3F3F3;
    -webkit-print-color-adjust: exact;
}

th {
    text-align: left;
    color: #528CC7;
    font-weight: 700;
    text-transform: capitalize;
    font-size: 14px
}

td {
    font-size: 11px;
}

td, th {
    padding: 10px 10px 10px 0;
}

.center {
    text-align: center;
}
