// ==============================================
// FOOTER
// ==============================================
.footer {
    background-image: url('/img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 134px 0 10px;

    .wrapper {
        @include flex-container(space-between, flex-start, center);
        padding-left: 60px;
        padding-right: 30px;
    }

    .logo {
        margin-top: 19px;
    }


    &__menu {
        @include flex-container(center);
        @include border-radius(30px);
        border: 2px solid $white;
        padding: 16px 30px;
        margin-top: 52px;

        li {
            margin-right: 24px;

            &:last-child {
                margin-right: 0;
            }

            a {
                @extend %bold;
                text-transform: uppercase;
                font-size: 21.19px;
                color: $white;
            }
        }
    }

    &__social {
        margin-top: 70px;
    }

    .copyright {
        margin: 25px auto 0;
        text-align: center;

        p {
            @extend %regular;
            color: $white;
            font-size: 16px;
        }

    }
}

@include bigDesktop {

    .footer {

        .wrapper {
            padding: 0 40px;
        }
    }
}

@include desktop {

    .footer {

        .wrapper {
            padding: 0 20px;
        }
    }
}

@include littleDesktop {

    .footer {
        padding-top: 30px;

        .wrapper {
            padding: 0 20px;
        }

        .logo {
            width: 18%;
        }

        &__menu {
            padding: 10px 15px 10px;
            width: unset;

            li {

                a {
                    font-size: 16px;
                }
            }
        }
    }
}

@include mobile {

    .footer {
        @include flex-container;
        padding-top: 0;

        .logo {
            margin-left: 72px;
            margin-top: 10px;
            width: 30%;
        }

        .copyright,
        &__menu {
            display: none;
        }
    }
}

@include mobileTiny {

    .footer {

        .logo {
            margin-left: 45px;
        }

        &__social {
            margin-right: 15px;
        }
    }
}

@include nomobile {

    .footer {

        .logo {
            @include effect(all, .3s, ease-in);

            &:hover {

                img {
                    @include scale(1.02);
                }
            }
        }

        ul {

            li {

                a {
                    @include effect(all, .3s, ease-in);

                    &:hover {
                        text-shadow: -1px 0 $redWine, 0 1px $redWine, 1px 0 $redWine, 0 -1px $redWine;
                    }
                }
            }
        }

        .copyright {

            a {
                @include effect(all, .3s, ease-in);

                &:hover {
                    color: $redWine;
                }
            }
        }
    }
}
