// ==============================================
// HEADER
// ==============================================
.header {
    @include box-shadow(5px 5px 16px rgba(0, 0, 0, 0.31));
    @include effect(all, .3s, ease);
    max-height: 223px;
    background-color: $white;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    padding-bottom: 18px;

    &__uncollapsed {
        @include effect(all, .3s, ease);
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 24px;
        top: -40px;
    }

    &__line {
        @include effect(all, .3s, ease);
        border-top: 6px solid $black;
        margin: 17px auto 0;
        opacity: 1;
    }

    .container {
        @include flex-container(space-between, center, center);
        margin-top: 8px;
    }

    &__logo {
        @include effect(all, .3s, ease-in-out);

        &.mobile {
            display: none;
        }
    }

    &__left {
        @include flex-container(flex-end, flex-end, flex-end, nowrap, column);
        margin-top: 17px;
    }

    &__navigation {
        margin-right: 20px;

        ul {
            @include flex-container(flex-end);

            li {
                padding-left: 24px;

                &:first-child {
                    position: relative;
                    top: -12px;
                    right: -4px;
                }

                a {
                    @extend %bold;
                    @include effect(all, .3s, ease-in-out);
                    font-size: 21px;
                    line-height: 1.21;
                    text-align: left;
                    text-transform: uppercase;
                    padding-bottom: 4px;

                    svg {
                        @include effect(all, .3s, ease-in-out);
                    }

                    &.active {
                        color: $redWine;
                    }
                }
            }
        }
    }

    &__lang {
        margin: -5px 43px 0;

        ul {
            @include flex-container;

            li {
                @extend %bold;
                @include effect(all, .3s, ease-in-out);
                cursor: pointer;
                color: $gray;
                font-size: 21px;
                line-height: 1.21;

                &.active {
                    color: $black;
                }

                &.separator {
                    color: $redWine;
                }

                &:first-child {
                    margin-top: -5px;
                    margin-right: 20px;
                }
            }
        }
    }

    &.collapsed {
        padding: 10px 0;
        max-height: 44px;

        .header__uncollapsed {
            top: 10px;
        }

        .header__line {
            opacity: 0;
        }
    }

    .copyright {

        p {
            @extend %bold;
        }
    }

    &.with-cart-open {
        box-shadow: none;
    }
}

@include littleDesktop {

    .header {
        max-height: 151px;

        &__branding {
            width: 35%;
        }

        &__navigation {

            ul {

                li {
                    padding-left: 10px;

                    &:first-child {
                        top: -1px;
                        right: 0;
                    }

                    a {
                        font-size: 16px;

                        svg {
                            width: 20px;
                        }
                    }
                }
            }
        }

        &__lang {
            margin-top: 6px;
            margin-right: 20px;

            ul {

                li {
                    font-size: 16px;
                }
            }
        }
    }
}

@include mobile {

	.to-open-close-menu-mobile {
		@include scale(.8);
        position: absolute;
        right: 10px;
        top: 10px;

		i {
			@include burger(46px, 5px, 8px, $black, 20px);
			@include burger-shadow(2px, 2px, 3px, 0, 0, 0, 0, .34);
		}

		.to-close {
			display: none;
		}

        &.opened {

            i {
                @include burger(46px, 5px, 8px, $black, 20px);
                @include burger-to-cross(8px, 5px);
                box-shadow: none;
            }

        }
	}

    .header {
        background-image: url('/img/header-bg.png');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: 0 -60px;
        box-shadow: none;
        height: calc(100vh - 60px);
        max-height: calc(100vh - 60px);
        left: -105vw;
        z-index: 5;
        top: 60px;

        &.opened {
            left: 0;
        }

        .container {
            padding: 0;
        }

        &__close {
            position: absolute;
            top: 25px;
            right: 25px;
            z-index: 2;
        }

        &__line {
            display: none;
        }

        &__branding {
            width: unset;
        }

        &__logo {
            display: none;

            &.mobile {
                display: block;
                margin-top: 9px;
                margin-left: 11px;
            }
        }

        .blue-line {
            background-color: $blueTheme;
            position: absolute;
            top: 35.5%;
            height: 156px;
            width: 7%;

            &.right {
                right: 0;
            }

        }

        &__left {
            @include flex-container(flex-end, flex-end, flex-end, nowrap, column-reverse);
            margin-top: 17px;
            position: absolute;
            top: 0;
            padding-top: 40px;
            width: 100%;
        }

        &__lang {
            margin-right: 26px;
            margin-bottom: 80px;

            ul {

                li {
                    font-size: 21.19px
                }
            }
        }

        &__navigation {
            width: 100%;
            text-align: center;
            margin: 0 auto 17vh;

            ul {
                @include flex-container(center, center, center, nowrap, column);

                li {
                    margin-bottom: 20px;
                    padding: 0;

                    &:first-child {
                        display: none;
                    }

                    a {
                        font-size: 26.75px
                    }
                }
            }
        }

        .copyright {
            position: absolute;
            bottom: 15px;
            width: 100%;

            p {
                font-size: 14px;
                text-align: center;
            }
        }
    }
}

@include nomobile {

    .header {

        &__uncollapsed {
            @include effect(all, .3s, ease);
            cursor: pointer;

            &:hover {

                svg {
                    @include translateY(-5px);
                    fill: $redWine;
                }
            }
        }

        &__branding {

            &:hover, &:focus {

                img {
                    @include scale(1.02);
                }
            }
        }

        &__navigation {

            ul {

                li {

                    a {

                        &.active {
                            border-bottom: 2px solid $redWine
                        }

                        &:hover, &:focus {
                            color: $redWine;
                            border-bottom: 2px solid $redWine
                        }
                    }

                    &:first-child {

                        a {
                            &:hover, &:focus {
                                border-bottom: none;

                                svg {
                                    @include scale(1.1);
                                }
                            }
                        }
                    }
                }
            }
        }

        &__lang {

            ul {

                li {

                    &:hover, &:focus {
                        color: $black;

                        &.separator {
                            color: $redWine;
                        }
                    }

                }
            }
        }
    }
}
