// ==============================================
// MAIN
// ==============================================
.main {
    max-width: 100vw;
    overflow: hidden;
    position: relative;

    .content {
        @include effect(all, .3s, ease-in-out);
		text-align: center;
        margin-top: 205px;

        &.collapsed {
            margin-top: 44px;
        }
	}
}

@include littleDesktop {

    .main {

        .content {
            margin-top: 151px;
        }
    }
}

@include mobile {

    .main {

        .mobile-bar {
            @include box-shadow(5px 5px 16px rgba(0, 0, 0, 0.31));
            background-color: $white;
            background-image: url('/img/header-bg.png');
            background-repeat: no-repeat;
            background-size: 100%;
            position: fixed;
            height: 60px;
            width: 100%;
            top: 0;
            right: 0;
            z-index: 6;
            text-align: center;

            .logo {
                position: absolute;
                left: 10px;
                top: 2px;

                img {
                    @include effect(all, .3s, ease);
                    height: 56px;
                }

                &.opened {
                    left: 20px;
                    top: 20px;

                    img {
                        height: 120px;
                    }
                }
            }

            &.opened {
                box-shadow: none;
            }
        }

        .content {
            margin-top: 0;
        }
    }
}
