// ==============================================
// ABOUT
// ==============================================
.about {
    background-image: url('/img/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 17px;
    position: relative;
    padding: 20px 0 72px;

    .wrapper {
        background-image: url('/img/blue-lines.png'), url('/img/blue-lines.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, 0 100%;
        padding: 70px 0;
    }


    .white-line {
        border-top: 1px solid $white;
        position: absolute;
        top: 154px;
        width: 35%;

        &.right {
            right: 0;
        }
    }

    &__title {
        width: 100%;
        margin: 0 auto 66px;

        h2 {
            @extend %regular;
            color: $white;
            font-size: 83.33px;
            line-height: 1.2;
            text-transform: none;
        }
    }

    &__description {

        p {
            @extend %raleway-bold;
            color: $blueTheme2;
            font-size: 29.17px;
            line-height: 1.2;
            text-transform: none;
            margin-bottom: 40px;
        }
    }
}

@include littleDesktop {

    .about {
        margin-top: 6px;

        .wrapper {
            padding: 40px 0;
        }

        &__title {
            margin-bottom: 20px;

            h2 {
                font-size: 56px;
            }
        }

        .white-line {
            top: 99px;
            width: 25%;
        }

        &__description {

            p {
                font-size: 22px;
                margin-bottom: 20px;
            }
        }
    }
}

@include mobile {

    .about {
        padding: 10px 0 50px;
        .wrapper {
            background: none;
            padding: 0;
        }

        .white-line {
            top: 28px;
        }

        &__title {

            h2 {
                font-size: 25.65px;
            }
        }

        &__description {

            p {
                font-size: 17.7px;
                margin-bottom: 20px;
            }
        }
    }
}
