// ==============================================
// CONTACT
// ==============================================
.contact {
    background-image: url('/img/contact-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 20px 0;

    .wrapper {
        background-image: url('/img/yellow-lines.png'), url('/img/yellow-lines.png');
        background-repeat: no-repeat, no-repeat;
        background-position: 0 0, 0 100%;
        padding: 26px 21vw 10px;
    }

    &__title {
        @extend %regular;
        color: $white;
        font-size: 60.34px;
        line-height: 1.2;
        text-transform: none;
        text-align: left;
        padding-left: 12px;
    }

    .blue-bar {
        height: 237px;
        background: $blueLight;
        background: linear-gradient(355deg, $blueLight 50%, $blueLight2 100%);
        position: absolute;
        top: 40%;

        &.left {
            width: 20%;
            left: 0;
        }

        &.right {
            width: 50%;
            right: 0;
        }
    }

    &__message-container {
        background: linear-gradient(90deg, $blueTheme3 50%, $blueTheme4 100%);
        margin-top: 14px;
        padding: 225px 9px 225px 27px;
        width: 48%;
    }

    &__message {
        @extend %montserrat-regular;
        color: $yellowTheme2;
        font-size: 25px;
        line-height: 2;
    }

    &__smartphone {
        position: absolute;
        top: 8.5%;
        right: 15.5%;
        z-index: 2;
    }

    &__loading {
        @include flex-container(center, center, center);
        background-color: $black;
        position: absolute;
        width: 100%;
        height: 100%;
        margin-left: -27px;
        margin-top: -28px;
    }
}

.left-bar {
    height: 57px;
    width: 24%;
    background: $blueLight;
    background: linear-gradient(355deg, $blueLight 50%, $blueLight2 100%);
    opacity: .7;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 1;
}

.btn-container {
    height: 57px;
    width: 72%;
    background: $blueLight;
    background: linear-gradient(355deg, $blueLight 50%, $blueLight2 100%);
    opacity: .7;
    position: absolute;
    left: 28%;
    bottom: 50px;
    text-align: left;
    z-index: 1;

    button {
        @extend %montserrat-bold;
        text-align: left;
        text-transform: uppercase;
        color: $blueTheme4;
        font-size: 25px;
        line-height: 1.2;
        text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
        padding: 10px;
        background-color: transparent;
        margin-left: 0;
        width: 30%;
        cursor: pointer;

        &:disabled {
            color: $gray;
            cursor: not-allowed;
        }
    }
}

@include bigDesktop {

    .contact {

        &__smartphone {

            right: 0;
        }

        .blue-bar {

            &.right {
                width: 42%;
            }
        }
    }
}

@include desktop {

    .contact {

        &__smartphone {

            right: -7%;
        }

        .blue-bar {

            &.right {
                width: 38%;
            }
        }
    }
}

@include littleDesktop {

    .contact {

        &__title {

            h2 {
                font-size: 56px
            }
        }

        .blue-bar {

            &.right {
                width: 28%;
            }
        }
        &__smartphone {
            width: 48%;
            top: 43%;
            right: -8%;
        }

        .left-bar {
            width: 29%;
        }

        .btn-container {
            left: 34%;
        }
    }
}

@include ipadPortrait {

    .contact {

        &__smartphone {
            display: none;
        }

        .blue-bar {

            &.right {
                width: 12%;
            }
        }

        .left-bar {
            width: 31%;
        }

        .btn-container {
            left: 38%;
        }
    }
}

@include mobile {

    .contact {
        padding: 0;

        .wrapper {
            background: none;
            padding-top: 11px;
            padding-left: 53px;
            padding-right: 53px;
        }

        &__title {
            font-size: 30.31px;
            padding-left: 0;
            text-align: center;
        }

        &__message-container {
            width: 265px;
            height: 350px;
            padding: 60px 22px;
        }

        &__message {
            font-size: 18px;
        }

        form {
            width: 265px;
            height: 350px;
            margin-top: 7px;
            padding-top: 10px;
            padding-left: 15px;

            .form-group {
                margin-bottom: 0;

                .img-container {
                    margin-top: 5px;
                    width: 18%;

                    img {
                        width: 30px;
                        height: auto;
                    }
                }
            }

            input {
                padding: 8px 0;
                height: 20px;
            }

            input,
            textarea {
                font-size: 12.56px
            }
        }

        .blue-bar {
            top: 32%;
            height: 119px;

            &.left {
                width: 44px;
            }

            &.right {
                width: 42px;
            }
        }

        .left-bar {
            height: 28px;
            bottom: 76px;
            width: 21%;
        }

        .btn-container {
            height: 28px;
            bottom: 76px;
            left: 32%;

            button {
                padding-top: 7px;
                font-size: 12.56px;
            }
        }

        &__loading {
            margin-left: -16px;
        }
    }
}

@include nomobile {

    .contact {

        .btn-container {

            button {
                @include effect(all, .3s, ease-in);

                &:hover {
                    color: $yellowTheme2;
                    text-shadow: -1px 0 $blueTheme4, 0 1px $blueTheme4, 1px 0 $blueTheme4, 0 -1px $blueTheme4;
                }
            }
        }
    }
}
