// ==============================================
// PRODUCTS
// ==============================================

.products {
    position: relative;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 152px;
    background-image: url('/img/products-bg.jpg');
    background-repeat: no-repeat;

    .wrapper {
        background-image: url('/img/orange-lines.png');
        background-repeat: no-repeat;
        background-position: 0 0;
        padding-top: 40px;
    }

    &__title {
        width: 100%;
        margin: 0 auto 66px;

        h2 {
            @extend %regular;
            color: $yellowTheme;
            font-size: 83.33px;
            line-height: 1.2;
            text-transform: none;
        }

        .yellow-line {
            border-top: 1px solid $yellowTheme;
            position: absolute;
            top: 110px;
            width: 35%;

            &.right {
                right: 0;
            }
        }
    }


}

@include littleDesktop {

    .products {
        padding-bottom: 50px;

        &__title {

            h2 {
                font-size: 56px;
            }

            .yellow-line {
                top: 96px;
                width: 25%;
            }
        }
    }
}

@include mobile {

    .products {
        padding-top: 6px;
        padding-bottom: 14px;

        .wrapper {
            background: none;
            padding-top: 0;
        }

        &__title {
            margin-bottom: 9px;

            h2 {
                font-size: 26.74px;
            }

            .yellow-line {
                top: 21px;
                width: 25%;
            }
        }
    }
}
