// ==============================================
// SOCIAL
// ==============================================
.social {
    background-image: url('/img/social-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: -50px;
    position: relative;

    .wrapper {
        padding: 0 0 10px;

    }

    .white-line {
        border-top: 1px solid $white;
        position: absolute;
        top: 56px;
        width: 35%;

        &.right {
            right: 0;
        }
    }

    &__title {

        h2 {
            @extend %regular;
            text-shadow: -2px 0 $gray, 0 2px $gray, 2px 0 $gray, 0 -2px $gray;
            font-size: 83.33px;
            line-height: 1.2;
            color: $white;
        }
    }

    &__posts {
        @include flex-container;
        padding: 0 56px;
        margin-top: 30px;
    }

    &__post {

        &:nth-child(3n+2) {
            margin: 0 50px;
        }
    }

    &__loading {
        @include flex-container(center, center, center);
    }

    &__networks {
        @include flex-container(center);
        margin: 40px auto 0;
    }

}

@include littleDesktop {

    .social {

        .wrapper {
            padding-top: 40px;
        }

        &__title {
            margin-bottom: 60px;

            h2 {
                font-size: 56px;
            }
        }

        .white-line {
            top: 80px;
            width: 25%;
        }

        &__posts {
            padding: 0 4vw;
        }
    }
}

@include mobile {

    .social {

        .wrapper {
            padding-top: 12px;
        }

        .white-line {
            top: 30px;
            border-top: 1px solid $gray3;
        }

        &__title {
            margin-bottom: 0;

            h2 {
                color: $gray3;
                text-shadow: none;
                font-size: 25.78px;
            }
        }

        &__posts {
            margin-top: 14px;
        }

        &__loading {
            width: 100%;
            position: absolute;
            top: 50%;
            text-align: center;
            z-index: 2;
        }

        &__networks {
            margin-top: 20px;

            img {
                width: 36px;
                height: auto;
            }
        }
    }
}

@include nomobile {

    .social {

        &__networks {

            li {

                &:hover {

                    a {

                        img {
                            @include scale(1.1);
                        }
                    }
                }
            }
        }
    }
}
