<template>
    <div class="checkout">
        <div class="backdrop" :class="{ loading: loading }"></div>
        <div class="container">

            <h1 data-aos="fade-down">{{$t('cart.checkout')}}</h1>

            <div class="checkout__content">
                <div class="right" data-aos="fade-left">
                    <h2>{{ $t('cart.orderReview') }}</h2>
                    <ShoppingCartItems/>
                    <div class="review-bottom">
                        <div class="shopping-cart__bottom">
                            <p>Total: {{ total | numberFormat }}</p>
                        </div>
                        <div class="checkout__paypal">
                            <div id="paypal-button-container" ></div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-if="loading" class="checkout__loading">
                <MoonLoader color="#e7ff43" size="150px"/>
            </div>
        </div>
    </div>
</template>
<script src="https://www.paypal.com/sdk/js?client-id=Af3t7YqjspE2cBkTyaY68j9X5bvkiT1_psJuQdUY7mjzurqSFptT0cE7ZTft_BN6wSB5G2KJp_sEREsL"></script>
<script>
import ShoppingCartItems from '../components/ShoppingCartItems.vue'
import { loadScript } from '@paypal/paypal-js';
import MoonLoader from 'vue-spinner/src/MoonLoader.vue'
export default {
    name: 'CheckoutComponent',
    components: {
        ShoppingCartItems,
        MoonLoader,
    },
    data() {
        return {
            form: {
                name: '',
                email: '',
                phone: '',
                address: '',
            },
            loading: false,
        }
    },
    async mounted() {
        let self = this
        let local = window.location.hostname == 'letsmarthome.local.host'
        const paypalSdk = await loadScript({
            'client-id': local ? 'Af3t7YqjspE2cBkTyaY68j9X5bvkiT1_psJuQdUY7mjzurqSFptT0cE7ZTft_BN6wSB5G2KJp_sEREsL' : 'AdK4guxjLmPMcK6yLZWa9unHBw5lscWJzz0-pRdCev0MDNN5kM9lHYx3fmnvclkXiJiEOwFH1ki-Y7IN',
            currency: 'USD',
        })
        paypalSdk.Buttons({
            style: {
                size: 'responsive',
                shape: 'pill',
                color: 'silver'
            },
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: self.total
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function(details) {
                    self.loading = true
                    self.paymentComplete(details)
                });
            },
        }).render('#paypal-button-container');
    },
    computed: {
        items() {
            return this.$store.getters.cartItems
        },
        total() {
            return this.items.reduce((amount, item) => amount + (parseFloat(item.retail) * item.quantity), 0)
        },
        validForm() {
            if (this.loading) {
                return false
            }
            return (this.validFields && this.validEmail)
        },
        validEmail(){
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(this.form.email).toLowerCase());
        },
        validFields() {
            return this.form.name.length > 3 && this.form.phone.length > 5 && this.form.address.length > 5
        },
        itemsCount() {
            return this.$store.getters.itemsCount
        },
    },
    methods: {
        paymentComplete(details) {
            let message = {
                title: 'checkout.succesful',
                content: 'checkout.thanks',
            }

            let payload = {
                transaction_id: details.id,
                name: details.payer.name.given_name + ' ' + details.payer.name.surname,
                amount: details.purchase_units[0].amount.value,
                email: details.payer.email_address,
                status: details.status,
                trace: details,
                items: this.items,
                message: message,
                customer: this.form,
            }

            this.$store.dispatch('sendPayment', payload)
                .then(()=>{
                    this.loading = false
                    this.$router.push('/payment-result')
                })
        }
    },
    watch: {
        itemsCount(val) {
            if (val <= 0) {
                this.$router.push({name: 'home'})
            }
        }
    }
}
</script>
