<template>
	<div class="home">
        <TheCarousel id="carousel"/>
		<Products id="products"/>
		<About id="about"/>
		<Social id="social"/>
		<Contact id="contact"/>
		<ShoppingCart id="shopping-cart"/>
	</div>
</template>

<script>
	import TheCarousel from '../components/TheCarousel.vue'
	import Products from '../components/Products.vue'
	import About from '../components/About.vue'
	import Social from '../components/Social.vue'
	import Contact from '../components/Contact.vue'
import ShoppingCart from '../components/ShoppingCart.vue'
	export default {
        name: 'HomeComponent',
		components: {
			TheCarousel,
			Products,
			About,
			Social,
			Contact,
            ShoppingCart,
		},
	}
</script>
