<template>
	<div class="main">
        <div class="mobile-bar just-mobile" :class="{opened: open}">
            <div class="mobile-cart just-mobile">
                <ShoppingCartIcon/>
            </div>
            <div class="logo" :class="{opened: open}">
                <a href="/">
                    <img src="/img/logo-color-mobile.png" alt="">
                </a>
            </div>
            <a @click="openMenu" href="#" class="to-open-close-menu-mobile" :class="{opened: open}">
                <i></i>
                <span class="srt to-open">{{ 'Open Menu Mobile' }}</span>
                <span class="srt to-close">{{ 'Close Menu Mobile' }}</span>
            </a>
        </div>
		<TheNav/>
		<div class="content" :class="{collapsed: collapsed}">
            <router-view></router-view>
		</div>
		<TheFooter />
	</div>
</template>

<script>
	import ShoppingCartIcon from '../components/ShoppingCartIcon.vue'
	import TheNav from '../components/TheNav.vue'
	import TheFooter from '../components/TheFooter.vue'
	export default {
		components: {
			TheNav,
			TheFooter,
            ShoppingCartIcon,
		},
		computed: {
            collapsed() {
                return this.$store.getters.collapsed
            },
            open() {
                return this.$store.getters.open
            },
		},
        methods: {
            openMenu() {
                let action = !this.open
                this.$store.commit('setOpenMenu', action)
            }
        }
	}
</script>
