<template>
        <section class="not-found">
            <div class="container">
                <div class="wrapper">
                    <div class="not-found__title" data-aos="fade-up">
                        <h1>{{ $t('notfound.title') }}</h1>
                    </div>
                    <div class="not-found__content">
                        <div class="not-found__image" data-aos="fade-up">
                            <img src="/img/not-found.png" alt="">
                        </div>
                        <div class="not-found__description" data-aos="fade-up">
                            <p>{{ $t('notfound.description') }}</p>
                        </div>
                        <div class="not-found__button" data-aos="fade-up">
                            <router-link :to="{ name: 'home'}" class="button red">{{ $t('notfound.button-text') }}</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: 'NotFoundComponent',
}
</script>

<style>

</style>
