<template>
        <section class="not-found">
            <div class="container">
                <div class="wrapper">
                    <div class="not-found__title" data-aos="fade-up">
                        <h1>{{ $t(message.title) }}</h1>
                    </div>
                    <div class="not-found__content">
                        <div class="not-found__image" data-aos="fade-up">
                            <img class="colors" src="/img/smart-bulb-colors.png" alt="">
                        </div>
                        <div class="not-found__description" data-aos="fade-up">
                            <p>{{ $t(message.content) }}</p>
                        </div>
                        <div class="not-found__button" data-aos="fade-up">
                            <router-link :to="{ name: 'home'}" class="button red">{{ $t('notfound.button-text') }}</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
    name: 'PaymentResponseComponent',
    computed: {
        message(){
            return this.$store.getters.paymentMessage
        }
    }
}
</script>

<style>

</style>
