<template>
    <div>
        <section class="single-product">
            <div class="backdrop" :class="{ loading: loading }"></div>
            <div v-if="product" class="container">
                <div class="wrapper">
                    <div class="single-product__title">
                        <h1>{{ getTranslation(product, 'title') }}</h1>
                    </div>
                    <div class="single-product__content">
                        <div class="single-product__image" data-aos="fade-right">
                            <img :src="product.pictures[0].path" alt="">
                        </div>
                        <div class="single-product__description" data-aos="fade-left">
                            <p v-html="getTranslation(product, 'description')"></p>
                        </div>
                    </div>
                    <div v-if="product.stock > 0" class="single-product__button">
                        <button @click="addToCart(product)" class="button red">{{ $t('cart.addToCart') }}</button>
                    </div>
                    <div v-else class="single-product__button">
                        <button @click="requestQuote" class="button red small">{{ $t('cart.request') }}</button>
                    </div>
                </div>
            </div>
        </section>
        <Social id="social"/>
        <Contact id="contact"/>
        <ShoppingCart id="shopping-cart"/>
    </div>
</template>

<script>
import Social from '../components/Social.vue'
import Contact from '../components/Contact.vue'
import {helpers} from '../mixins/helpers'
import ShoppingCart from '../components/ShoppingCart.vue'

export default {
    name: 'ProductComponent',
    components: {
        Social,
        Contact,
        ShoppingCart,
    },
    mixins: [helpers],
    created() {
        this.$store.dispatch('getProduct', this.$route.params.sku)
        this.$store.commit('setCurrentLink', 'products')
    },
    destroyed(){
        this.$store.commit('setCurrentLink', '')
        this.$store.commit('clearProduct')
    },
    computed: {
        product(){
            return this.$store.getters.product
        },
        loading(){
            return this.$store.getters.productLoading
        },
    },
    methods: {
        addToCart(){
            this.$store.commit('addToCart', this.product)
            this.$forceUpdate()

        },
    }

}
</script>

<style>

</style>
