<template>
    <section class="about">
        <div class="wrapper">
            <div class="white-line" data-aos="fade-right" data-aos-duration="1000"></div>
            <div class="white-line right" data-aos="fade-left" data-aos-duration="1000"></div>
            <div class="container">
                <div class="about__title" data-aos="fade-up" data-aos-duration="1000">
                    <h2>{{ $t('menu.about') }}</h2>
                </div>
                <div class="about__description">
                    <p data-aos="fade-up" data-aos-duration="1000">{{ $t('about.paragraph-1') }}</p>
                    <p data-aos="fade-up" data-aos-duration="1500">{{ $t('about.paragraph-2') }}</p>
                    <p data-aos="fade-up" data-aos-duration="2000">{{ $t('about.paragraph-3') }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'About'
    }
</script>
