<template>
	<section class="contact">
        <div class="backdrop" :class="{ loading: loading }"></div>
        <div class="wrapper">
            <h1 class="contact__title" data-aos="fade-up" data-aos-duration="1000">{{ $t('menu.contact') }}:</h1>

            <div class="contact__message-container" v-if="message" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="contact__message" >{{ message }}</h2>
            </div>
            <form v-else data-aos="fade-up" data-aos-duration="1000">
                <div class="form-group">
                    <div class="img-container">
                        <img src="/img/contact-name.png" alt="">
                    </div>
                    <input type="text" v-model="form.name" :placeholder="$t('contact.name')">
                </div>
                <div class="form-group last-name">
                    <div class="img-container">
                        <img src="/img/contact-name.png" alt="">
                    </div>
                    <input type="text" v-model="form.lastName" placeholder="Last Name" tabindex="-1">
                </div>				
                <div class="form-group">
                    <div class="img-container">
                        <img src="/img/contact-mail.png" alt="">
                    </div>
                    <input type="text" v-model="form.email" :placeholder="$t('contact.email')">
                </div>
                <div class="form-group">
                    <div class="img-container">
                        <img src="/img/contact-phone.png" alt="">
                    </div>
                    <input type="text" v-model="form.phone" :placeholder="$t('contact.phone')">
                </div>
                <div class="form-group">
                    <div class="img-container">
                        <img src="/img/contact-comment.png" alt="">
                    </div>
                    <textarea v-model="form.comment" :placeholder="$t('contact.comment')"></textarea>
                </div>

                <div v-if="loading" class="contact__loading">
                    <FadeLoader color="#bd286d"/>
                </div>
            </form>

            <img class="contact__smartphone" src="/img/smart-phone.png" alt="" data-aos="zoom-in" data-aos-duration="1500">
            <div class="blue-bar left" data-aos="fade-right" data-aos-duration="1200"></div>
            <div class="blue-bar right" data-aos="fade-left" data-aos-duration="1200"></div>

            <template v-if="!message">
                <div class="left-bar" data-aos="fade-right" data-aos-duration="1400"></div>
                <div class="btn-container">
                    <button @click.prevent="contact" :disabled="!validForm">{{ $t('common.send') }}</button>
                </div>
            </template>
        </div>
	</section>
</template>

<script>
    import FadeLoader from 'vue-spinner/src/FadeLoader.vue'
	export default {
		name: 'Contact',
        components: {
            FadeLoader,
        },
		data() {
			return {
				form: {
					name: '',
					email: '',
					phone: '',
					comment: '',
					lastName: ''
				}
			}
		},
        mounted() {
            this.form.comment = this.quote
        },
		computed: {
			message() {
				return this.$store.getters.message
			},
			loading() {
				return this.$store.getters.loading
			},
            validForm() {
                if (this.loading) {
                    return false
                }
                return (this.validFields && this.validEmail && this.form.lastName == '')
            },
            validEmail(){
                const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(String(this.form.email).toLowerCase());
            },
            validFields() {
                return this.form.name.length > 3 && this.form.phone.length > 5 && this.form.comment.length > 5
            },
			quote() {
				return this.$store.getters.quote
			},
		},
		methods: {
			contact() {
				this.form.lang = this.$i18n.locale
				this.$store.dispatch('sendContact', this.form)
			}
		},
        watch:{
            quote(val) {
                if (val) {
                    this.form.comment = this.quote
                }
            }
        }
	}
</script>
