<template>
    <section class="products">
        <div class="wrapper">
            <div class="products__title">
                <h2 data-aos="fade-up" data-aos-duration="1000">{{ $t('menu.products') }}</h2>
                <div class="yellow-line" data-aos="fade-right" data-aos-duration="1000"></div>
                <div class="yellow-line right" data-aos="fade-left" data-aos-duration="1000"></div>
            </div>
            <Carousel
                :per-page-custom="[[767, 1],[768, 2], [1280, 3]]"
                :per-page="1"
                :scroll-per-page="false"
                :loop="true"
                :autoplay="false"
                :pagination-enabled="false"
                :navigation-enabled="true"
                navigation-next-label=""
                navigation-prev-label=""
                data-aos="fade-up"
                data-aos-duration="1200"
            >
                <template v-if="products && products.length > 0">
                    <Slide v-for="product in products" :key="product.id">
                        <Product
                            :product="product"
                            :className="className(product.id)"
                        />
                    </Slide>
                </template>
            </Carousel>
        </div>
    </section>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel'
    import Product from './Product'
    export default {
        name: 'Products',
        components: {
            Carousel,
            Slide,
            Product,
        },
        created() {
            this.$store.dispatch('getProducts')
        },
        computed: {
            products() {
                return this.$store.getters.products
            },
        },
        methods: {
            className(id) {
                if (id == 2) {
                    return 'blue'
                } else if (id == 3) {
                    return 'orange'
                }
            }
        }
    }
</script>
