<template>
    <div @click="$router.push('product/' + product.sku)" class="product">
        <div class="product__top" :class="className"></div>
        <div class="product__image">
            <img :src="product.picture" alt="">
        </div>
        <div class="product__bottom">
            <div class="product__title">
                <h3>{{ getTranslation(product, 'title') }}</h3>
            </div>
            <div class="product__description">
                <p>{{ getTranslation(product, 'other') }}</p>
            </div>
            <div v-if="product.stock > 0" class="product__button">
                <button @click.stop="addToCart" class="button red small">{{ $t('cart.addToCart') }}</button>
            </div>
            <div v-else class="product__button">
                <button @click.stop="requestQuote" class="button red small">{{ $t('cart.request') }}</button>
            </div>
        </div>
    </div>

</template>

<script>
import {helpers} from '../mixins/helpers'
export default {
    name: 'Product',
    props: ['product', 'className'],
    mixins: [helpers],
    methods: {
        addToCart(){
            this.$store.commit('addToCart', this.product)
        },
    }
}
</script>
