<template>
    <div v-if="showIcon" class="shopping-cart-icon" @click="toggleCart">
        <span>{{ itemsCount }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 19.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.305-15l-3.432 12h-10.428l-3.777-9h-2.168l4.615 11h13.239l3.474-12h1.929l.743-2h-4.195z"/></svg>
    </div>
</template>

<script>
export default {
    name: 'ShoppingCartIcon',
    computed: {
        itemsCount() {
            return this.$store.getters.itemsCount
        },
        showCart() {
            return this.$store.getters.showCart
        },
        showIcon() {
            let routes = ['checkout', 'notFound']
            return this.itemsCount > 0 && !routes.includes(this.$route.name)
        }
    },
    methods: {
        toggleCart() {
            if (this.showCart) {
                this.$store.commit('hideCart')
            } else {
                this.$store.commit('showCart')
                this.$store.commit('setOpenMenu', false)
            }
        }
    }
}
</script>

<style>

</style>
