<template>
    <table class="shopping-cart__table">
        <tr class="shopping-cart__item">
            <th></th>
            <th>{{ $t('cart.item') }}</th>
            <th class="quantity">{{ $t('cart.qantity') }}</th>
            <th>{{ $t('cart.price') }}</th>
            <th>{{ $t('cart.total') }}</th>
            <th></th>
        </tr>
        <tr v-for="item in items" :key="item.id" class="shopping-cart__item">
            <td class="image"><router-link :to="'product/' + item.sku"><img :src="item.picture" alt=""></router-link></td>
            <td class="title">{{ getTranslation(item, 'title') }}</td>
            <td class="quantity">
                <a href="#" @click.prevent="removeFromCart(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7 14h-14v-4h14v4z"/></svg>
                </a>
                <span>{{ item.quantity }}</span>
                <a href="#" @click.prevent="addToCart(item)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7 14h-5v5h-4v-5h-5v-4h5v-5h4v5h5v4z"/></svg>
                </a>
            <td class="amount">{{ item.retail | numberFormat}}</td>
            <td class="amount">{{ parseFloat(item.retail) * item.quantity | numberFormat }}</td>
            <td class="trash">
                <svg @click="clearFromCart(item)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 6l3 18h12l3-18h-18zm19-4v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.316c0 .901.73 2 1.631 2h5.711z"/></svg>
            </td>
        </tr>
    </table>
</template>

<script>
import {helpers} from '../mixins/helpers'
export default {
    name: 'ShoppingCartItems',
    mixins: [helpers],
    computed: {
        items() {
            return this.$store.getters.cartItems
        },
    },
    methods: {
        addToCart(product){
            this.$store.commit('addToCart', product)
            this.$forceUpdate()
        },
        removeFromCart(product){
            this.$store.commit('removeFromCart', product)
            this.$forceUpdate()
        },
        clearFromCart(product){
            this.$store.commit('clearFromCart', product)
            this.$forceUpdate()
        },
    }
}
</script>

<style>

</style>
