<template>
  <div class="shopping-cart" :class="{collapsed: collapsed, show: show && items.length > 0}">
      <div @click="$store.commit('hideCart')" class="shopping-cart__close">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
      </div>
      <div class="shopping-cart__title">
          <h2>{{ $t('cart.title') }}</h2>
      </div>
      <div class="shopping-cart__items">

          <ShoppingCartItems/>

          <div class="shopping-cart__bottom">
              <button @click="$router.push('/checkout')" class="button red small">{{ $t('cart.checkout') }}</button>
              <p>Total: {{ items.reduce((amount, item) => amount + (parseFloat(item.retail) * item.quantity), 0) | numberFormat }}</p>
          </div>
      </div>
  </div>
</template>

<script>
import ShoppingCartItems from '../components/ShoppingCartItems.vue'
export default {
    name: 'ShoppingCart',
    components: {ShoppingCartItems},
    computed: {
        items() {
            return this.$store.getters.cartItems
        },
        show() {
            return this.$store.getters.showCart
        },
        collapsed() {
            return this.$store.getters.collapsed
        },
        total() {
            let total = 0;
            this.items.forEach(item => {
                total += item.retail * item.quantity
            });

            return total
        }
    },
}
</script>

