<template>
    <section class="social">
        <div class="backdrop" :class="{ loading: loading }"></div>
        <div class="wrapper">
            <div class="white-line" data-aos="fade-right" data-aos-duration="1000"></div>
            <div class="white-line right" data-aos="fade-left" data-aos-duration="1000"></div>
            <div class="container">
                <div class="social__title" data-aos="fade-up" data-aos-duration="1000">
                    <h2>{{ $t('menu.social') }}</h2>
                </div>
                <div v-if="!isMobile" class="social__posts">

                    <Post
                        v-for="(post, index) in posts"
                        :key="post.id"
                        :post="post"
                    ></Post>

                </div>

                <carousel
                    v-else
                    ref="carousel"
                    :per-page="3"
                    :scroll-per-page="false"
                    :loop="false"
                    :autoplay="false"
                    :pagination-enabled="false"
                    :navigation-enabled="true"
                    navigation-next-label=""
                    navigation-prev-label=""
                    @navigation-click="navigate"
                    @transition-start="navigate"
                >
                    <slide v-for="(post) in posts" :key="post.id">
                        <Post :post="post"></Post>
                    </slide>
                </carousel>

                <div v-if="loading" class="social__loading" data-aos="zoom-in">
                    <FadeLoader color="#bd286d"/>
                </div>

                <template v-else>
                    <button
                        @click="getPosts(page)"
                        class="social__button button"
                        v-if="!isMobile && morePosts"
                        data-aos="zoom-in"
                        data-aos-duration="1000"
                        >
                        {{ $t('social.load-more') }}
                    </button>
                </template>

                <ul class="social__networks" data-aos="zoom-in" data-aos-duration="1000">
                    <li v-for="network in social" :key="network.url">
                        <a :href="network.url" target="_blank" rel="noopener noreferrer">
                            <img :src="'/img/' + getKeyByValue(social, network) + '.png'" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</template>

<script>
    import Post from './Post.vue'
    import {helpers} from '../mixins/helpers'
    import { Carousel, Slide } from 'vue-carousel'
    import FadeLoader from 'vue-spinner/src/FadeLoader.vue'
    export default {
        name: 'Social',
        mixins: [helpers],
        components: {
            Post,
            Carousel,
            Slide,
            FadeLoader,
        },
        data() {
            return {
                page: 1,
                clicks: 0,
            }
        },
        created() {
            this.getPosts()
        },
        destroyed() {
            this.$store.commit('clearPosts')
            this.page = 0
        },
        computed: {
            posts() {
                return this.$store.getters.posts
            },
            morePosts() {
                return this.$store.getters.morePosts
            },
            canAdvanceForward() {
                return this.$refs.carousel.canAdvanceForward
            },
            loading() {
                return this.$store.getters.socialLoading
            }
        },
        methods: {
            getPosts() {
                this.$store.dispatch('getPosts', this.page)
                this.page++
            },
            navigate() {
                if (!this.canAdvanceForward && this.morePosts) {
                    this.getPosts()
                }

                if(!this.morePosts) {
                    this.$refs.carousel.loop = true
                }
            }
        },
    }
</script>
