<template>
    <section class="slider">
        <Carousel
            v-if="sliders && sliders.length > 0"
            :per-page="1"
            :loop="true"
            :autoplay="true"
            :autoplay-timeout="5000"
            data-aos="slide-left"
        >
            <Slide v-for="(slide, index) in sliders" :key="index">
                <div class="slide-image" :style="'background-image: url(' + getImage(slide) + ')'">
                    <div class="slide-description" :class="getTranslation(slide, 'class')">
                        <h2>{{ getTranslation(slide, 'title') }}</h2>
                        <p>{{ getTranslation(slide, 'subtitle') }}</p>
                    </div>
                </div>
            </Slide>
        </Carousel>
    </section>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel'
    import {helpers} from '../mixins/helpers'
    export default {
        name: 'TheCarousel',
        mixins: [helpers],
        components: {
            Carousel,
            Slide,
        },
        created() {
            this.$store.dispatch('getSliders')
        },
        methods: {
            getImage(slide) {
                return this.isMobile ? slide.mobile_image : slide.image
            },
        },

        computed: {
            sliders() {
                return this.$store.getters.sliders
            },
        }
    }
</script>
