<template>
	<footer class="footer">
        <div class="wrapper">
            <router-link :to="{ name: 'home' }"
                v-scroll-to="{el: '#carousel', offset: offset}"
                class="logo"
                :title="$t('common.home')"
                data-aos="fade-right"
                data-aos-duration="1000"
                data-aos-offset="-100"
            >
                <img src="/img/logo-white.png" alt="">
            </router-link>

            <ul class="footer__menu" data-aos="fade-up" data-aos-duration="1000" data-aos-offset="-100">
                <li v-for="(item) in menu" :key="item">
                    <template v-if="$route.name == 'home' || getKeyByValue(menu, item) == 'contact' || getKeyByValue(menu, item) == 'social'">
                    <a
                        :class="{ active: getKeyByValue(menu, item) == currentLink }"
                        href="#"
                        v-scroll-to="{el: '#' + getKeyByValue(menu, item), offset: offset}"
                        @click="setLink"
                        :title="getKeyByValue(menu, item)"
                    >{{ item }}</a>
                    </template>
                    <template v-else>
                    <router-link
                        :class="{ active: getKeyByValue(menu, item) == currentLink }"
                        :to="'/#' + getKeyByValue(menu, item)"
                        @click="setLink"
                        :title="getKeyByValue(menu, item)"
                    >{{ item }}</router-link>
                    </template>
                </li>
            </ul>

            <ul class="footer__social" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="-100">
                <li v-for="network in social" :key="network.url">
                    <a :href="network.url" target="_blank" rel="noopener noreferrer" :title="getKeyByValue(social, network)">
                        <span v-html="network.icon"></span>
                    </a>
                </li>
            </ul>
        </div>
            <div class="copyright" data-aos="fade-up" data-aos-duration="1200" data-aos-offset="-200">
                <p>{{ year }} © Letsmarthome {{ $t('footer.copyright') }} {{ $t('footer.powered') }} <a href="https://klaustro.net" target="_blank" rel="noopener noreferrer">klaustro.net</a></p>
            </div>
	</footer>
</template>

<script>
    import {helpers} from '../mixins/helpers'
    import AOS from 'aos'
	export default {
		name: 'Footer',
        mixins: [helpers],
		computed: {
			menu() {
				return this.$t('menu')
			},

            currentLink() {
                return this.$store.getters.currentLink
            },
            collapsed() {
                return this.$store.getters.collapsed
            },
            offset() {
                return this.isMobile ? 0 : this.collapsed ? -44 : -205
            }
		},
        methods: {
            setLink(item) {
                this.$store.commit('setCurrentLink', this.getKeyByValue(this.menu, item))
                console.log(this.offset)
            },
        },
	}
</script>
