// ==============================================
// BASE STYLES
// ==============================================

// Vars
$bodyBg: $white;

html, body {
	height: 100%;
}

input {
	@include noAppearance;
	@include border-radius(0);
}

select {
	@include noAppearance;

	&::-ms-expand { // sass-lint:disable-line no-vendor-prefixes
		display: none;
	}
}

a, span {
	color: inherit;
	text-decoration: none;
}

sub, sup {
	font-size: 60%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

img, iframe, video {
	vertical-align: top;
	max-width: 100%;
}

svg {
	height: auto;
	vertical-align: top;
}

ul {
	list-style: none;
}

.prevent-overflow {
	width: 100%;
	overflow: hidden;
}

.white-space-nowrap {
	white-space: nowrap;
}

.visibility-hidden {
	visibility: hidden;
}

noscript + img {
	display: none;
}

// ==============================================
// IPAD PORTRAIT
// ==============================================
@include ipadPortrait {

	html, body {
		height: auto;
	}

}

// ==============================================
// MOBILE
// ==============================================
@include mobile {

	h1, h2, h3 {
		font-size: 22px;
		line-height: 1.2;
	}

	hr {
		height: 1px;
		width: 90%;
	}
}
