// ==============================================
// CHECKOUT
// ==============================================

.checkout {
    background-image: url(/img/social-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 180px;
    padding-bottom: 60px;

    .container {
        padding-top: 40px;
    }

    h1 {
        @extend %bold;
        color: $redWine;
        font-size: 40px;
        text-transform: capitalize;
        text-align: center;
    }

    h2 {
        @extend %montserrat-regular;
        font-weight: 700;
        color: $redWine;
        font-size: 22px;
        text-align: center;
        width: 100%;
    }

    &__content {
        @include flex-container(center);
        margin: 40px 0;

        &.loading {
            opacity: 0;
            height: 665px;
        }
    }

    &__loading {
        position: absolute;
        top: 50%;
        left: calc(50% - 30px);
        z-index: 5;
    }

    .right {
        @include box-shadow(5px 5px 16px rgba(0, 0, 0, 0.31));
        @include border-radius(10px);
        background-color: $white;
        position: relative;
        margin-left: 20px;
        padding-top: 28px;
        padding: 28px 20px 0;

        h2 {
            margin-bottom: 14px;
        }

        .review-bottom {
            width: 100%;
            right: 0;
            padding: 0 20px;
        }

        .shopping-cart__item {

            th {
                @extend %montserrat-regular;
                font-weight: 700;
                font-size: 18px;
            }

            td {
                @extend %montserrat-regular;
                font-size: 18px;

                svg {
                    width: 14px;
                }

                &.trash {

                    svg {
                        width: 20px;
                    }
                }

                &.quantity {

                    svg {
                        margin-top: 0;
                    }
                }
            }
        }

        .shopping-cart__bottom {
            border-top-width: 3px;
            padding-top: 20px;
            margin-bottom: 20px;

            p {
                @extend %montserrat-regular;
                font-weight: 700;
                font-size: 18px;
                width: 100%;
                text-align: right;
            }
        }
    }

    &__paypal {
        height: 400px;
        overflow-y: auto;
    }
}


@include mobile {

    .checkout {
        margin-top: 60px;

        .right {
            margin-left: 0;
            margin-top: 20px;
            width: 98%;
            padding: 10px 0;
            height: auto;

            .shopping-cart__item {

                th {
                    font-size: 14px;
                }

                td {
                    font-size: 14px;

                    svg {
                        width: 14px;
                    }

                    &.trash {

                        svg {
                            width: 20px;
                        }
                    }
                }
            }

            .review-bottom {
                position: relative;
                bottom: 0;
                width: 100%;
                right: 0;
                padding: 0 20px;
            }

            .shopping-cart__bottom {

                p {
                    font-size: 14px;
                }
            }
        }
    }
}
