// ==============================================
// SINGLE PRODUCT
// ==============================================

.not-found {
    background-image: url('/img/social-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;

    &__title {
        margin-bottom: 40px;

        h1 {
            @extend %raleway-bold;
            font-size: 60px;
            line-height: 1.2;
            text-align: center;
            color: $redWine;
        }
    }

    &__description {
        margin: 40px 0;
        padding: 0 40px;

        p {
            @extend %raleway-bold;
            text-transform: none;
            color: $gray3;
            font-size: 20px;
            line-height: 1.2;
            text-align: center;
        }
    }

    &__image {

        .colors {
            max-width: 34%
        }
    }
}

@include mobile {

    .not-found {
        @include flex-container(center, center, center);
        min-height: 87vh;

        &__title {
            margin: 0 0 20px;

            h1 {
                font-size: 32px;
            }
        }

        &__image {
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }

        &__description {
            margin: 20px 0 40px;
            padding: 0 10px;

            p {
                font-size: 16px;
            }
        }
    }
}
