// ==============================================
// SINGLE PRODUCT
// ==============================================

.single-product {
    background-image: url('/img/products-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    min-height: 650px;

    &__content {
        @include flex-container(center, flex-start, flex-start);
        margin: 60px 0;
    }

    &__title {

        h1 {
            @extend %raleway-bold;
            font-size: 60px;
            line-height: 1.2;
            text-align: center;
            color: $purple;
            margin-bottom: 40px;
        }
    }

    &__image {
        width: 30%;
    }

    &__description {
        width: 65%;
        margin-left: 15px;

        p, li {
            @extend %raleway-regular;
            text-transform: none;
            color: $white;
            font-size: 20px;
            line-height: 1.2;
            text-align: left;
            color: $blueTheme2;
            margin-bottom: 10px;
        }
    }

    &__button {
        margin: 60px auto;
    }
}

@include mobile {

    .single-product {
        padding: 20px 10px;
        margin-top: 60px;

        &__content {
            @include flex-container(center, center, center, nowrap, column);
            margin: 40px 0;
        }

        &__image {
            width: 100%;
        }

        &__title {
            margin-top: 40px;

            h1 {
                font-size: 40px;
                text-align: center;
            }
        }

        &__description {
            width: 100%;
            margin-top: 20px;


            p {
                text-align: center;
            }
        }
    }
}
